@model IEnumerable<CMTLabs.Models.Administrator.EmployeeObjectModel>

@{
    ViewBag.Title = "AllEmployees";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <h2 class="page-header">Administrator Home Page<small style="margin-left: 25px"></small></h2>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div>  @Html.ActionLink("Employees", "EmployeesHome", "Employees", null, new { @class = "btn btn-primary btn-lg" })</div>
        <hr/>
    
        <div>  @Html.ActionLink("Lookup Categories", "LookupCategoriesHome", "LookupCategories", null, new { @class = "btn btn-primary btn-lg" })</div>
    </div>
}
